<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
    <%= link_to "Basecamp", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Projects", projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Project", new_project_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
        </li>

        <% if current_user.has_role?(:admin) %>
          <li class="nav-item">
            <%= link_to "Admin Manager",  admin_dashboard_path, class: "nav-link" %>
          </li>
        <% end %>

        </li>
        <li class="nav-item">
          <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <% else %>
      <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", edit_user_registration_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</nav>
