<%= simple_form_for @project, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group row">
    <div class="col-sm-10">
      <%= f.input :name, input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <%= f.input :description, input_html: { class: 'form-control' } %>
    </div>
  </div>

  <!-- Ensures button appears on the next line -->
  <div class="form-group row w-100">
    <div class="col-sm-10">
      <%= f.button :submit, class: 'btn btn-primary d-block' %>
    </div>
  </div>
<% end %>
